[submodule "ext/HomeKitAdk"]
	path = ext/HomeKitAdk
	url = ../HomeKitADK
[submodule "ext/lua"]
	path = ext/lua
	url = ../lua
[submodule "ext/lua-cjson"]
	path = ext/lua-cjson
	url = https://github.com/mpx/lua-cjson
