[submodule "ext/HomeKitAdk"]
	path = ext/HomeKitAdk
	url = https://github.com/apple/HomeKitADK
[submodule "ext/lua"]
	path = ext/lua
	url = https://github.com/KNpTrue/lua
[submodule "ext/lua-cjson"]
	path = ext/lua-cjson
	url = https://github.com/mpx/lua-cjson
